{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section id="signin">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form method="post">
                    {% for message in app.flashes('error') %}
                        {% if message %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <h2 class="h3 mb-3 font-weight-normal text-center">Please sign in</h2>
                    <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <input Placeholder="Password" type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary btn-block mt-3 mb-1" type="submit">Sign in</button>

                    <a href="{{ path('app_password_reset') }}" class="mt-2">Lost your password?</a>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
{% endblock %}
