{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h2 class="h3 mb-3 font-weight-normal text-center">Register</h2>

                {{ form_start(registrationForm) }}
                    {{ form_errors(registrationForm.user_name, {'attr': {'class': 'alert alert-danger'}}) }}
                    {{ form_widget(registrationForm.user_name, {'attr': {'class': 'form-control', 'placeholder': 'User name'}}) }}

                    {{ form_errors(registrationForm.email, {'attr': {'class': 'alert alert-danger'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}

                    {{ form_errors(registrationForm.image, {'attr': {'class': 'alert alert-danger'}}) }}
                    {{ form_widget(registrationForm.image, {'attr': {'class': 'mb-4 mt-4'}}) }}

                    {{ form_errors(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                    <div class="checkbox mb-3">
                        <label>
                          {{ form_row(registrationForm.agreeTerms) }}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Register</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</section>
{% endblock %}
