{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<section id="check_email">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>An email has been sent that contains a link that you can click to reset your password. This link will <strong>expire in 10 minutes.</strong></p>
                <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_password_reset') }}">try again</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
