<h2>Hi!</h2>

<p>
    To reset your password, please visit
    <a href="{{ url('app_reset_password', {token: resetToken, email: email}) }}">here</a>
    This link will expire in 10 minutes.
</p>

<p>
    Cheers!
</p>