{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <h3 class="mb-2">Reset your password</h3>

                {{ form_start(requestForm) }}
                <div class="mb-4">
                    <h6>
                        Enter your email address and we we will send you a
                        link to reset your password.
                    </h6>
                </div>
                {{ form_errors(requestForm.email, {'attr': {'class': 'alert alert-danger'}}) }}
                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Your email'}}) }}

                <button class="btn btn-lg btn-primary btn-block mt-3">Send password reset email</button>
                {{ form_end(requestForm) }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}