{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<section id="reset">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3>Reset your password</h3>
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(resetForm) }}
                {{ form_errors(resetForm.plainPassword) }}
                {{ form_widget(resetForm.plainPassword) }}
                <button class="btn btn-lg btn-primary btn-block mt-3">Reset password</button>
                {{ form_end(resetForm) }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
{% endblock %}
