{% extends 'base.html.twig' %}

{% block title %}Your password is changed{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <a href="{{ path('app_login') }}" class="btn btn-lg btn-primary btn-block mt-3">Login</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
