{{ form_start(form) }}
    {% if form.vars.errors|length %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {{ form_row(form._token) }}
     <div class="label_comment mt-4">{{ form_label(form.comment, 'Comment', {'attr': {'class': 'title'}}) }}</div>
    {{ form_widget(form.comment, {'attr': {'class': 'form-control mb-4'}}) }}


    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
