{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="md-4">Edit Comment</h2>
        <div class="form mb-4">
            {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="d-flex">
            <a href="{{ path('trick_show', {'slug': slug, 'id': trick_id, 'page': 1}) }}" class="btn btn-outline-primary mr-2" >back to trick</a>
            {{ include('comment/_delete_form.html.twig') }}
        </div>
        </div>
    </div>
{% endblock %}
