{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <section id="trick_detail">
        <div class="container">
            <h1>Create new Comment</h1>

            {{ include('comment/_form.html.twig') }}

            <a class="btn btn-outline-primary mt-4"  href="{{ path('trick_show',{'slug': slug, 'id': trick_id, 'page': 1}) }}">back to trick</a>
        </div>
    </section>
{% endblock %}
