<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div>
                <a class="navbar-brand" href="{{ path('home', {'page': 1}) }}">SnowTricks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav align-items-center mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home', {'page': 1})  }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#tricks">Tricks</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="d-flex align-items-center ml-4 mr-2">
                            <span class="mr-2">Hello {{ app.user.userName }}</span>
                            <span style="background-image: url({{ asset('build/images/tricks/' ~ app.user.imageName) }}); width:50px; height:50px;display:block;background-position:center center; background-size: cover; border-radius: 50%"></span>
                        </li>
                        <li class="item">
                            <a class="nav-link btn btn-outline-secondary" href="{{ path('app_logout') }}">Log out</a>
                        </li>
                        <li class="item ml-2">
                            <a class="nav-link btn btn btn-primary" href="{{ path('trick_new') }}">Add a trick</a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-secondary" href="{{ path('app_login') }}">Sign in</a>
                            </li>
                            <li class="nav-item ml-2">
                                <a class="nav-link btn btn-outline-secondary" href="{{ path('app_register') }}">Sign up</a>
                            </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
<footer>
    <div class="container-fluid">
        <div class="container">
            <p>Copyright 2019</p>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
