{% extends 'base.html.twig' %}
{% block body %}
    <section id="top">
        <div class="container-fluid home_header d-flex align-items-center">
            <div class="container text-center">
                {% for message in app.flashes('success') %}
                        <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="alert alert-success">
                                <strong>Congrats! </strong>{{ message }}
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                {% endfor %}
                <h1>All snowboard tricks</h1>
            </div>
        </div>
    </section>
    <section id="tricks">
        <div class="container">
            <div class="card-columns">
                {% for trick in tricks %}
                    <div class="card">
                        {% if trick.imageName %}
                            <img src="{{ asset('build/images/tricks/' ~ trick.imageName) }}" class="card-img-top"/>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.title }}</h5>
                            <p class="card-text">{{ trick.subTitle }}</p>
                            <div class="d-flex align-items-center">
                                <a href="{{ path('trick_show',{'slug': trick.slug, 'id': trick.id, 'page': "1"}) }}" class="btn btn-primary mr-2">See trick</a>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-outline-primary mr-2">Edit trick</a>
                                    {{ include('trick/_delete_form.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% else %}
            </div>

            <h2>no records found</h2>
            {% endfor %}
        </div>
        {% set trickQty = tricks|length/9 %}
        {% if trickQty > 1 %}
            <span class="mr-3">page</span>
            {% for i in range(1, trickQty|round(0, 'ceil')) %}
                {% if page == i %}
                    <strong>
                {% endif %}
                <a class="mr-2" href="{{ path('home',{'page': i}) }}#tricks">{{ i }}</a>
                {% if page == i %}
                    </strong>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}
