{{ form_start(form) }}
    {% if form.vars.errors|length %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {{ form_row(form._token) }}
    <div class="label_title mt-4">{{ form_label(form.title, 'Title', {'attr': {'class': 'title'}}) }}</div>
    {{ form_widget(form.title, {'attr': {'class': 'form-control mb-4'}}) }}

    <div class="label_title mt-4">{{ form_label(form.subTitle, 'Sub title') }}</div>
    {{ form_widget(form.subTitle, {'attr': {'class': 'form-control mb-4'}}) }}

    <div class="label_title mt-4">{{ form_label(form.description, 'Description') }}</div>
    {{ form_widget(form.description, {'attr': {'class': 'form-control mb-4'}}) }}


    {% if trick.imageName %}
            <img width="200" class="rounded mt-4" src="{{ asset('build/images/tricks/' ~ trick.imageName) }}">
            <div class="alert alert-info mt-2">
                To change featured image you can upload a new one
            </div>
    {% endif %}
        <div class="label_title mt-4 mt-4">{{ form_label(form.description, 'Featured image') }}</div>
        {{ form_widget(form.image, {'attr': {'class': 'mb-4'}}) }}

    <div class="mt-4 mb-4 trick_form">
        <div class="label_title mt-4">{{ form_label(form.videos, 'Videos') }}</div>
        <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
            {% for videoField in form.videos %}
                <div>
                    <li>{{ form_widget(videoField)}}</li>
                    <a href="#" class="remove-tag btn btn-outline-danger mb-4">Delete this video</a>
                </div>
            {% endfor %}
        </ul>
    </div>


    <div class="mt-4 mb-4 trick_form">
        <div class="label_title mt-4">{{ form_label(form.images, 'Images') }}</div>
        <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for imageField in form.images %}
                <div>
                    {% if imageField.vars.value.imageName %}
                        <img width="200" class="rounded mt-4" src="{{ asset('build/images/tricks/' ~ imageField.vars.value.imageName) }}">
                    {% endif %}
                    <li>{{ form_widget(imageField)}}</li>
                    <a href="#" class="remove-tag btn btn-outline-danger mb-4">Delete this image</a>
                </div>
            {% endfor %}
        </ul>


    </div>

    <div class="label_title mt-4">{{ form_label(form.tricksType, 'Tricks type') }}</div>
    {{ form_widget(form.tricksType, {'attr': {'class': 'form-control mb-4'}}) }}

    <button class="btn btn-primary mtf-4">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}

