{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="md-4">Edit Trick</h2>
        <div class="form mb-4">
            {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="d-flex">
           <a class="btn btn-outline-primary mr-2" href="{{ path('home', {'page': 1})  }}">back to list</a>
            {{ include('trick/_delete_form.html.twig') }}
        </div>
        </div>
    </div>
{% endblock %}
