{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <section id="trick_detail">
        <div class="container">
            <h1>Create new Trick</h1>
            {% for message in app.flashes('error') %}
                {% if message %}
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {{ include('trick/_form.html.twig') }}

            <a class="btn btn-outline-primary mt-4" href="{{ path('home', {'page': 1})  }}">back to list</a>
        </div>
    </section>
{% endblock %}
