{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
<section id="top">
    <div class="container-fluid trick_header d-flex align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ asset('build/images/tricks/' ~ trick.imageName) }});">
        <div class="container text-center hero">
            {% for message in app.flashes('success') %}
                {% if message %}
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success" role="alert">
                            <strong>Congrats! </strong>{{ message }}
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <h1>{{ trick.title }}</h1>
            <h3>{{ trick.subTitle }}<h3>
        </div>
    </div>
</section>
<section id="trick_detail">
    <div class="container">
        {% for row in trick.videos|batch(2) %}
            <div class="row mt-4">
                {% for video in row %}
                    <div class="col-md-6">
                         <h3>{{ video.name }}</h3>
                        {{ video.embededCode|raw }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="card-columns images">
            {% for image in trick.images %}
                <div class="card">
                     <img class="card-img-top" src="{{ asset('build/images/tricks/' ~ image.imageName) }}">
                </div>
            {% endfor %}
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                {{ trick.description|raw }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <h5>Informations</h5>
                    </div>
                    <div class="card-body text-secondary">
                        <strong>Created_at: </strong>{{ trick.createdAt ? trick.createdAt|date('Y-m-d') : '' }}  |
                        <strong>Updated_at: </strong>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d') : '' }}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="d-flex mt-4">
                                <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-outline-primary mr-2">Edit</a>
                                {{ include('trick/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
<section id="comments">
    <div class="container">
        <h5>Commentaires</h5>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary" href="{{ path('comment_new', {'trick_id': trick.id, 'slug': trick.slug, 'user_id': app.user.id}) }}">Add a comment</a>
        {% else %}
            <div class="d-flex align-item-center">
                <a class="nav-link btn btn-outline-secondary mr-2" href="{{ path('app_login') }}">Sign in</a>
                <a class="nav-link btn btn-outline-secondary" href="{{ path('app_register') }}">Sign up</a>
            </div>
        {% endif %}
            {% for comment in comments %}
                <div class="row" id="comments">
                    <div class="col-md-12 my-4">
                        <div class="d-flex align-items-center mb-2">
                            <span class="mr-2" style="background-image: url({{ asset('build/images/tricks/' ~ comment.user.imageName) }}); width:50px; height:50px;display:block;background-position:center center; background-size: cover; border-radius: 50%"></span>
                            <h6 class="mb-0">{{ comment.user.userName }}</h6><span> | </span><p class="mb-0">{{ comment.createdAt|date('Y-m-d') }}</p>
                        </div>
                        <div>
                            {{ comment.comment|raw }}
                        </div>
                       {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == comment.user %}
                            <div class="d-flex align-item-center mt-2">
                                <a href="{{ path('comment_edit', {'id': comment.id }) }}" class="btn btn-outline-primary mr-2">Edit</a>
                               {{ include('comment/_delete_form.html.twig') }}
                           </div>
                       {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% set commentQty = comments|length/2 %}
            {% if commentQty > 1 %}
                <span class="mr-3">page</span>
                {% for i in range(1, commentQty|round|round(0, 'ceil')) %}
                    {% if page == i %}
                        <strong>
                    {% endif %}
                    <a class="mr-2" href="{{ path('trick_show',{'slug': trick.slug, 'id': trick.id, 'page': i}) }}#comments">{{ i }}</a>
                    {% if page == i %}
                        </strong>
                    {% endif %}
                {% endfor %}
            {% endif %}
    </div>
</section>
{% endblock %}
